$backgroundInput: #000000
$colorText: #7A7A7A

.containerSearchFriends
    width: 100%
    display: flex
    justify-content: center
    .containerInput
        width: 329px
        height: 40px
        border-radius: 20px
        background: $backgroundInput
        color: $colorText
        font-size: 14px
        .containerSearchIcon
            width: 20%
            .magnifyingGlassIcon
                width: 20px
                height: 20px
        .searchInput
            width: 80%
