.footer-content
    position: absolute
    width: 70vw
    height: 176px
    text-align: center
    background: #323232
    border-radius: 20px 20px 0px 0px
    bottom: 0
    left: 50%
    transform: translateX(-50%)