
// VARIABLES
$accent-color: #F2CF8D
$blue5: #1F2440
$blue4: #292759
$blue3: #464AA6
$blue2:#3B3F8C
$dark-gray: #323232
$main-font: "Monsterrat", sans-serif
$secondary-font: "Inter", sans-serif

// gradients
@mixin backgroundGradient()
  background: linear-gradient(180deg, #0C0E18 0%, #292759 100%)

@mixin lightYellowGradient()
  background: linear-gradient(255.54deg, #F2CF8D 31.32%, #D3A856 91.81%)

@mixin darkYellowGradient()
  background: linear-gradient(255.54deg, #F9A811 31.32%, #B97900 91.81%)

@mixin blueGradient()
  background: linear-gradient(255.54deg, #1449D2 31.32%, #4361B4 91.81%)
  
// Transparences
  
@mixin backgroundLayer()
  background: rgba(0, 0, 0, 0.5)
  
// MEDIA QUERIES

/* Breakpoints */

$breakpoints: ("small": 390px, "medium": 768px, "large": 992px,"xlarge": 1440px)

/* Break Points */

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints)
  @if map-has-key($mq-breakpoints, $mq-breakpoint)
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint)

  @media screen and (min-width: #{$mq-breakpoint})
    @content
