.header-content
    position: absolute
    width: 100vw
    height: 70px
    text-align: center
    background: #323232
    border-radius: 0px 0px 20px 20px 
    top: 0
    left: 50%
    transform: translateX(-50%)
    padding: 10px
    display: flex
    justify-content: space-around
    @media screen and (min-width:800px)
        width: 80vw
        height: 109px
    @media screen and (min-width:1600px)
        width: 70vw
    @media screen and (min-width:1900px)
        width: 60vw
    .logoH 
        display: none
        @media screen and (min-width:800px)
            display: inline
            height: 50px
    .logoHM
        margin: auto
        height: 40px
        @media screen and (min-width:800px)
            display: none
    input
        background: #000 url('../../../../assets/Icons/search.svg') no-repeat 140px
        height: 40px
        width: 180px
        border-radius: 20px
        border: none
        margin: auto
        font-weight: 600
        font-size: 14px
        padding: 0 20px
        color: #fff
        @media screen and (min-width:800px)
            width: 250px
            background: #000 url('../../../../assets/Icons/search.svg') no-repeat 210px
        @media screen and (min-width:1050px)
            width: 400px
            background: #000 url('../../../../assets/Icons/search.svg') no-repeat 360px
    .inputD
        display: none
        @media screen and (min-width:800px)
            display: inline        
    .inputM
        display: inline
        @media screen and (min-width:800px)
            display: none        
    .login1
        display: none
        @media screen and (min-width:800px)
            text-decoration: none
            padding: 7px
            display: inline
            width: 166px
            border-radius: 20px
            margin: auto
            background-color: transparent
            color: #F2CF8D
            border: 2px solid #F2CF8D
            font-weight: 500
            font-size: 16px
    .mob
        height: 25px
        width: 25px
        margin: auto 15px
        cursor: pointer
        @media screen and (min-width:800px)
            display: none
        img
            height: 25px
            width: 25px
            margin: auto 