.home
    display: flex
    background: linear-gradient(180deg, #0C0E18 0%, #292759 100%)
    color: #fff

.home-content
    width: calc( 100vw - 113px )
    position: relative
    text-align: center
