.home
    width: 90vw
    margin: 0 auto
    @media screen and (min-width:700px)
        width: 80vw
    @media screen and (min-width:1600px)
        width: 70vw
    @media screen and (min-width:1900px)
        width: 60vw
    
.cards
    margin: 20px 0

.cards-small
    display: flex
    flex-wrap: wrap
    justify-content: space-around





