*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Monserrat

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh
  background: linear-gradient(180deg, #0C0E18 0%, #292759 100%)
  padding-top: 40px

.container-titulo
  color: #fff

#contenedor-palabra span
  vertical-align: bottom
  border-bottom: 2px solid #fff
  color: #F2CF8D
  width: 10px
  text-align: center
  margin: 30px 10px 30px 10px
  display: inline-block
